
 /* .search:focus::placeholder{
     transition: text-indent 0.5s 0.5s ease; 
 text-indent: -100%;
 opacity: 1;} */

 /* .dropdown ul.dropdown-menu:before {
    content: "";
    border-bottom: 10px solid #fff;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: -10px;
    left: 10px;
    z-index: 10;
}
.dropdown ul.dropdown-menu:after {
    content: "";
    border-bottom: 12px solid #ccc;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    position: absolute;
    top: -12px;
    left: 8px;
    z-index: 9;
} */

.mega-dropdown-menu ul.filters_data {
    text-align: left !important;
}

ul.user-menu{
    margin-top: 10px;
}
ul.user-menu li{
    padding: 5px;
    margin-right:0px;
}
ul.user-menu li a image{
    margin-right: 10px !important;
}
.navbar-nav li ul.user-menu li a {
    font-family: poppinsbold;
    font-size: 12px;
    font-stretch: normal;
    line-height: 1.86;
    letter-spacing: 0.3px;
    text-align: left;
    color: #222222 !important;
    padding: 12px 5px 12px 15px;
    display: block;
    text-transform: uppercase;
}
ul.user-menu li.star_color i.fa-star{
    color: #ec1c24;
    font-size: 22px;
}

ul.mega-dropdown-menu li ul.filters{
    text-align: left;
}
ul.mega-dropdown-menu li ul.filters li {
    border-bottom: 1px solid #ddd;
}
.mega-dropdown {
    position: static !important;
  }
  .mega-dropdown-menu {
      padding: 20px 0px;
      width: 100%;
      box-shadow: none;
      -webkit-box-shadow: none;
  }
  .mega-dropdown-menu > li > ul {
    padding: 0;
    margin: 0;
  }
  .mega-dropdown-menu > li > ul > li {
    list-style: none;
  }
  .mega-dropdown-menu > li > ul > li > a {
    display: inline-block;
    color: #222;
    padding: 3px 5px;
  }
  .mega-dropdown-menu > li ul > li > a:hover,
  .mega-dropdown-menu > li ul > li > a:focus {
    text-decoration: none;
  }
  .mega-dropdown-menu .dropdown-header {
    font-size: 18px;
    color: #ff3546;
    padding: 5px 60px 5px 5px;
    line-height: 30px;
  }
  
  .mega-dropdown-menu > li ul > li.dropdown-header{
      border-bottom: #d7d7d7;
  }










 .header_icon {
    background: #333;
    padding: 10px;
    border-radius: 50%;
    text-align: center;
    width: 40px;
    height: 40px;
    display: inline-block;
 }
.header_div img{
    width: auto;
    /* margin-top: 12px; */
}
.bg_color .logo_logo{
    display: none;
}
.bg_color.fixed .logo_logo{
    display: block;
}
.bg_color.fixed .logo_logo img{
    width: 100%;
}
nav{
    border: solid #d7d7d7;
    border-width: 1px 0px 1px 0px;
}
nav ul.user-menu li{
background-color: transparent; 
   border: solid 1px none; 
}
nav ul.float_right li.display_mobile{
    display: none;
}
ul.float_right li{
    vertical-align: middle !important;
    cursor: pointer;
    list-style-type: none;
    display: inline-block;
    outline: none;
}
ul.float_right li a{
    text-transform: uppercase ;
    display: inline-block;
    margin-left: 0;
}
ul.float_right  li.text_small a{
    text-transform: lowercase ;
    display: inline-block;
}
.navbar-header button {
    background-color: #333;
}
.navbar-header button:focus{
    outline: none;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    float: none;
}
.navbar-header button span {
    background-color: #fff;
}
.navbar-brand {
    float: left;
    padding: 15px 0 15px;
    font-size: 11px;
    line-height: 20px;
}
ul.float_right {
    float: right;
    margin-top: 20px;
    margin-bottom: 0;
    /* margin-right: -15px; */
}
/* ul.float_right li {    
    list-style-type: none;
    display: inline-block;
    outline: none;
} */

.active{
    color:#ec1c24 !important;
}
.padding_left {
    padding-left: 0px;
}
.float_right li:first-child{
    margin-right: 37px;
}
ul.float_right li.text_small a{
    font-family: poppinsbold;
    font-size: 10.3px;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #bababa !important; 
}
.nav>li>a:hover, .nav>li>a:focus{
    border: 0!important;
    outline: none;
}
ul.float_right li a{
   font-family: poppinsbold !important;
  font-size: 12px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ec1c24 !important;
  /* position: relative;
  bottom: 10px; */
  margin-left: 6px;
  text-decoration: none;
  cursor: pointer;
    
}
.display_none{
    display: none;
}
/* ul.float_right li img{
    width: auto;
    background: #333;
    padding: 10px;
    border-radius: 50%;
    border: none;
} */
.breadcrumb>li.breadcrumb-item a{
    cursor: pointer !important;
    text-decoration: none;
}
ul.float_right li span{
    cursor: pointer;
    margin-top: -10px;
    display: block;
    color: rgba(186,186,186,255);
    font-size: 12px;
     font-family:poppinssemibold; 
    margin-left: 46px;
    
} 
/* ul.float_right li span{
    margin-top: -9px;
    display: block;
    color: rgba(186,186,186,255);
    font-size: 12px;
    font-family: 'Montserrat', sans-serif !important;
    margin-left: 46px;
} */
ul.float_right li h6.logout{
    margin-top: -20px;
    text-align: center;
    cursor: pointer;
}

.navbar_main{
    background-color: #ddd;
    padding: 5px;
}
nav.bg_color{
    background-color: #fcfcfc;
}

nav ul.navbar-nav li a{
    font-family:poppinsbold !important;
    font-size: 12px !important;
    font-stretch: normal;
    line-height: 2.17;
    letter-spacing: 0.3px;
    text-align: left;
    text-transform: uppercase;
    color: #191a1c;
    cursor:pointer;
 letter-spacing: 0; 

}

/* nav ul.navbar-nav li a:active,nav ul.navbar-nav li a:hover,nav ul.navbar-nav li a:focus,.nav>li>a:hover, .nav>li>a:focus{
    color:#ec1c24 !important;
  
} */

.input-group{
    margin-top: 4px;
}
.form-control:focus {
    border-color:none !important;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.fixed .input-group button {
    background-color: #ec1c24 !important;
    margin-left: -3px !important;
    /* margin-top: 1px !important; */
}
.fixed .navbar-header{
    width:10%;
}
 .input-group button {
    background-color: #ec1c24 !important;
    border-radius: 0;
    margin-left: -3px !important;
    /* margin-top: 1px !important; */
}
.input-group .form-control,.input-group .form-control::placeholder{
    width: 83%;
    height: 34px;
    border-radius: 0px;
    font-family: poppinsbold;
    /* font-size: 9.6px; */
    font-style: normal;
    font-stretch: normal;
    line-height: 2.17;
    letter-spacing: normal;
    text-align: left;
    color: #aaaaaa;
}

.navbar-nav>li>a{
    padding: 10px 10px;
}
/* .nav>li>a:hover,.nav>li>a:active,.nav>li> a.active{
    color: #ec1c24 !important;
    cursor: pointer;
} */
@media screen and (min-width:768px) and (max-width:1024px){
    /* .navbar-nav>li>a{
        padding: 10px 6px;
        font-size: 11px !important;
    } */
    ul.float_right li a,.float_right li span{
        font-size: 10px;
    }
    .text-block{
    position: absolute;
    color: white;
    bottom: 26px !important;
    padding-left: 16px;
    padding-right: 13px;
    }
    .text-block imf{
        width:35px !important;
    }
    .navbar-nav{
        margin-top: 5px;
    }
    .input-group{
        margin-top: -1px;
        
    }


}

@media screen and (min-width:320px) and (max-width:767px){
  
   
    nav ul.float_right li.display_mobile{
        display: block;
    }
    nav ul.float_right{
        float: none;
    }
    .navbar-collapse{
        background-color: #333;
    }

    .display_none{
        display: block;
    }
    .navbar-nav {
        margin: 0;
    }
    .navbar-collapse ul li a {
        color: #fff !important;
        font-size: 10px;
    }

    .padding_left {
    margin-bottom: 10px !important;
    }
/* 
    ul.float_right li img{
        width: auto;
        background: #333;
        padding: 10px;
        border-radius: 50%;
        border: none;
    }
    ul.float_right li a{
        font-size: 10px;
    }
    ul.float_right li a span {
        margin-top: 0px;
        font-size: 10px;
    } */

    ul.navbar-right {
        padding-bottom: 10px;
    }

    nav ul.navbar-nav{
        text-align: center;
    }

    .footer .footer_image img{
        width: auto !important;
      }
    footer,footer ul {
        text-align: center;
    }  

    .navbar-header .input-group{
        float: left;
    }
    .navbar-header button.btn{
        margin-left: -4px;
    }
   
    .navbar-toggle{
        margin-right: 0px;
    }
    .mobile_none{
        display: none;
    }
}

 #menu {
    background: #fcfcfc;
    line-height: 38px;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    z-index: 2;
    opacity: 0.95;
    border-radius: 0;
    transition: 0.9s;
    }
 
    .fixed {
    position: fixed;
    background: #fff !important;
    top: -5px;
    left: 0;
    width: 100%;
    animation: smoothScroll 1s forwards;
    }
    .fixed ul{
    margin-top: 6px;
    }
    nav.fixed ul li a{
    text-transform: uppercase;
    color: #191a1c;
    }

    .navbar-nav>li:focus{
        box-shadow: none;
        outline: none !important;

    }

    