<header>

    <div class="container">
        <div class="header_div">
            <div class="row">
                <div class="col-md-4 col-lg-6 col-sm-4 col-xs-12">
                    <a class="navbar-brand">
                        <img src="assets/Images/assets/logo.png" [routerLink]="['/']" alt="Battlecapse" height="42" width="42">
                    </a>
                </div>

                <div class="col-md-8 col-lg-6 col-sm-8 col-xs-12 mobile_none">
                    <ul class="nav navbar-nav float_right">
                        <li class="dropdown text_small">
                            <div class="header_icon">
                                <img src="assets/Images/assets/profile.png" alt="Battlecapse">
                            </div>
                            <a class="dropdown-toggle username" data-toggle="dropdown">{{username}}</a>
                            <ul class="user-menu dropdown-menu">
                                <li [routerLink]="['/myorders']">
                                    <a>
                                        <img class="beer" src="assets/Images/assets/Orders.png"> My Orders
                                    </a>

                                </li>
                                <li [routerLink]="['/myaccount']">
                                    <a>
                                        <img class="beer" src="assets/Images/assets/account.png"> My Account
                                    </a>
                                </li>

                                <li class="star_color" [routerLink]="['/myaccount']">
                                    <a>
                                        <i aria-hidden="true" class="fa fa-star"></i>
                                        Favorites
                                    </a>

                                </li>

                                <li class="">
                                    <a (click)="UserLogout()">
                                        <img class="beer" src="assets/Images/assets/logout.png"> Log Out
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li [routerLink]="['/cart']">
                            <div class="header_icon">
                                <img src="assets/Images/assets/cart.png" alt="Battlecapse">
                            </div>
                            <a>Shopping Cart</a>
                            <span class="cart">{{custermerinfo}} Item (s)</span>

                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item" [routerLink]="['/']">
                        <a class="active">Home</a>
                    </li>
                    <li class="nav-item" [routerLink]="['/about']">
                        <a>About</a>
                    </li>
                    <li class="nav-item" [routerLink]="['/']">
                        <a>Feature Products</a>
                    </li>
                    <li class="nav-item dropdown dropdown_menu">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            BEER
                        </a>
                        <!-- <i class="fa fa-caret-up" aria-hidden="true" style=color:red;></i> -->
                        <div class="dropdown-menu " aria-labelledby="navbarDropdown">

                            <div class="row">
                                <div class="col-md-4">
                                    <span class="text-uppercase text-white">TYPE</span>
                                    <ul class="nav flex-column">

                                        <!-- <li class="nav-item"> -->
                                        <li class="nav-item">
                                            <input type="checkbox" [(ngModel)]="selectedAllBeerFilterTypes" (change)="selectAllbeerFilterTypes();" /> All
                                        </li>
                                        <li class="nav-item" *ngFor="let beerFilterType of beerFilterTypes">
                                            <input type="checkbox" [(ngModel)]="beerFilterType.selected" (change)="checkIfAllBeerFilterTypesSelected();"> {{beerFilterType.name}}
                                        </li>
                                    </ul>
                                </div>
                                <!-- /.col-md-4  -->
                                <div class="col-md-4">
                                    <ul class="nav flex-column">
                                        <span class="text-uppercase text-white">SIZE</span>
                                        <li class="nav-item">
                                            <input type="checkbox" [(ngModel)]="selectedAllBeerFilterSizes" (change)="selectAllbeerFilterSizes();" /> All
                                        </li>
                                        <li class="nav-item" *ngFor="let beerFilterSize of beerFilterSizes">
                                            <input type="checkbox" [(ngModel)]="beerFilterSize.selected" (change)="checkIfAllBeerFilterSizesSelected();"> {{beerFilterSize.name}}
                                        </li>
                                    </ul>
                                </div>
                                <!-- /.col-md-4  -->
                                <div class="col-md-4">
                                    <ul class="nav flex-column">
                                        <span class="text-uppercase text-white">PRICE</span>
                                        <li class="nav-item">
                                            <input type="checkbox" [(ngModel)]="selectedAllBeerFilterPrices" (change)="selectAllbeerFilterPrices();" /> All
                                        </li>
                                        <li class="nav-item" *ngFor="let beerFilterPrice of beerFilterPrices">
                                            <input type="checkbox" [(ngModel)]="beerFilterPrice.selected" (change)="checkIfAllBeerFilterPricesSelected();"> {{beerFilterPrice.name}}
                                        </li>
                                    </ul>
                                </div>
                                <!-- /.col-md-4  -->
                                <div class="btn_right">
                                    <button class="btn btn-default" (click)="filterBeer()">Filter</button>
                                </div>
                            </div>
                        </div>
                        <!--  /.container  -->



                    </li>
                    <li class="nav-item dropdown dropdown_menu">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            LIQUOR
                        </a>
                        <div class="dropdown-menu " aria-labelledby="navbarDropdown">

                            <div class="row">
                                <div class="col-md-4">
                                    <span class="text-uppercase text-white">TYPE</span>
                                    <ul class="nav flex-column">

                                        <!-- <li class="nav-item"> -->
                                        <li class="nav-item">
                                            <input type="checkbox" [(ngModel)]="selectedAllLiquorFilterTypes" (change)="selectAllLiquorFilterTypes();" /> All
                                        </li>
                                        <li class="nav-item" *ngFor="let liquorFilterType of liquorFilterTypes">
                                            <input type="checkbox" [(ngModel)]="liquorFilterType.selected" (change)="checkIfAllLiquorFilterTypesSelected();"> {{liquorFilterType.name}}
                                        </li>
                                    </ul>
                                </div>
                                <!-- /.col-md-4  -->
                                <div class="col-md-4">
                                    <ul class="nav flex-column">
                                        <span class="text-uppercase text-white">SIZE</span>
                                        <li class="nav-item">
                                            <input type="checkbox" [(ngModel)]="selectedAllLiquorFilterSizes" (change)="selectAllLiquorFilterSizes();" /> All
                                        </li>
                                        <li class="nav-item" *ngFor="let liquorFilterSize of liquorFilterSizes">
                                            <input type="checkbox" [(ngModel)]="liquorFilterSize.selected" (change)="checkIfAllLiquorFilterSizesSelected();"> {{liquorFilterSize.name}}
                                        </li>
                                    </ul>
                                </div>
                                <!-- /.col-md-4  -->
                                <div class="col-md-4">
                                    <ul class="nav flex-column">
                                        <span class="text-uppercase text-white">PRICE</span>
                                        <li class="nav-item">
                                            <input type="checkbox" [(ngModel)]="selectedAllLiquorFilterPrices" (change)="selectAllLiquorFilterPrices();" /> All
                                        </li>
                                        <li class="nav-item" *ngFor="let liquorFilterPrice of liquorFilterPrices">
                                            <input type="checkbox" [(ngModel)]="liquorFilterPrice.selected" (change)="checkIfAllLiquorFilterPricesSelected();"> {{liquorFilterPrice.name}}
                                        </li>
                                    </ul>
                                </div>
                                <!-- /.col-md-4  -->
                                <div class="btn_right">
                                    <button class="btn btn-default" (click)="filterLiquor()">Filter</button>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item dropdown dropdown_menu">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            WINE
                        </a>
                        <div class="dropdown-menu " aria-labelledby="navbarDropdown">

                            <div class="row">
                                <div class="col-md-4">
                                    <span class="text-uppercase text-white">TYPE</span>
                                    <ul class="nav flex-column">

                                        <!-- <li class="nav-item"> -->
                                        <li class="nav-item">
                                            <input type="checkbox" [(ngModel)]="selectedAllWineFilterTypes" (change)="selectAllWineFilterTypes();" /> All
                                        </li>
                                        <li class="nav-item" *ngFor="let wineFilterType of wineFilterTypes">
                                            <input type="checkbox" [(ngModel)]="wineFilterType.selected" (change)="checkIfAllWineFilterTypesSelected();"> {{wineFilterType.name}}
                                        </li>
                                    </ul>
                                </div>
                                <!-- /.col-md-4  -->
                                <div class="col-md-4">
                                    <ul class="nav flex-column">
                                        <span class="text-uppercase text-white">SIZE</span>
                                        <li class="nav-item">
                                            <input type="checkbox" [(ngModel)]="selectedAllWineFilterSizes" (change)="selectAllWineFilterSizes();" /> All
                                        </li>
                                        <li class="nav-item" *ngFor="let wineFilterSize of wineFilterSizes">
                                            <input type="checkbox" [(ngModel)]="wineFilterSize.selected" (change)="checkIfAllWineFilterSizesSelected();"> {{wineFilterSize.name}}
                                        </li>
                                    </ul>
                                </div>
                                <!-- /.col-md-4  -->
                                <div class="col-md-4">
                                    <ul class="nav flex-column">
                                        <span class="text-uppercase text-white">PRICE</span>
                                        <li class="nav-item">
                                            <input type="checkbox" [(ngModel)]="selectedAllWineFilterPrices" (change)="selectAllWineFilterPrices();" /> All
                                        </li>
                                        <li class="nav-item" *ngFor="let wineFilterPrice of wineFilterPrices">
                                            <input type="checkbox" [(ngModel)]="wineFilterPrice.selected" (change)="checkIfAllWineFilterPricesSelected();"> {{wineFilterPrice.name}}
                                        </li>
                                    </ul>
                                </div>
                                <!-- /.col-md-4  -->
                                <div class="btn_right">
                                    <button class="btn btn-default" (click)="filterWine()">Filter</button>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item" [routerLink]="['/']">
                        <a>MIXERS & MORE</a>
                    </li>

                </ul>

                <ul class="nav navbar-nav navbar-right mobile_none">
                    <li>
                        <form [formGroup]=searchform (ngSubmit)="searchcproduct()">
                            <div class="input-group">
                                <input type="text" class="form-control" formControlName="search" placeholder="Search..">

                                <button type="submit" class="btn btn-primaray">
                                    <img src="assets/Images/assets/search.png">
                                </button>

                            </div>
                        </form>
                    </li>

                </ul>

            </div>
        </div>

    </nav>
</header>