
<ng4-loading-spinner [threshold]="2000" [timeout]="4000" [template]="template"  style= "margin:0 auto; text-align: center;"[zIndex]="9999"></ng4-loading-spinner>
<section>
  <div class="container" >
   
      <div class="Search_div ">
        <input type="text" placeholder="Recipe Details">
        <ol class="breadcrumb">
        <li class="breadcrumb-item"><a (click)="gottoHome()">Home</a></li>
       <li class="breadcrumb-item active"><a (click)="gotorecipes()">Recipes</a></li>
       <li class="breadcrumb-item active"><a>Recipe Details</a></li>
      </ol>
       </div>

       <div class="details_img col-md-6 col-sm-6 col-lg-6 col-xs-12 animated fadeInLeft">
        <img src='{{recipesdetails.ThumbNailImage}}' />
       </div>

       <div class="details_content col-md-6 col-sm-6 col-lg-6 col-xs-12 animated fadeInRight">
        <h4 class="recipe_name">{{recipesdetails.Title}}</h4>
       <ul>
         <h4 class="ingredients">Ingredients</h4>
         <li class="IngredientText" [innerHTML]=recipesdetails.IngredientText> 
         </li>
         
       </ul>
       </div>
   
       <div class=" col-md-12 col-sm-12 col-lg-12 col-xs-12">
       <div class="Searchrelated_div ">
        <h4>Instructions</h4>
       </div>
      
       <div [innerHTML]=recipesdetails.InstructionText class="instruction_text"> </div>
       </div>