.font_size{
    font-family: Poppinsregular;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.14;
    letter-spacing: 0.4px;
    /* text-align: justify; */
    color: #444444;
    text-transform: capitalize;
}

.font_family_Montserrat-SemiBold h5{
    font-family:montserratbold;
    font-size: 12px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
}

.information address{
    font-family:montserratbold;
    font-size: 12px;

    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
}
@media screen and (min-width:320px) and (max-width:530px){
    .item_img{
        width: 100%;
    }
    .display_center {
        transform: translateY(10%);
    }
    
}

