

<div class="container">

  <div class="Searchrelated_div col-md-12 col-sm-12 col-lg-12 col-xs-12">
    <h4>About</h4>
    <ol class="breadcrumb">
    <li class="breadcrumb-item"><a (click)="gottoHome()">Home</a></li>
   <li class="breadcrumb-item active"><a>About</a></li>
  
  </ol>
   </div>

  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">

      <div class="item active">
        <img src="assets/Images/assets/cover.png" alt="Chania">
      </div>

      <div class="item">
        <img src="assets/Images/assets/cover.png" alt="Chania">
      </div>
    
      <div class="item">
        <img src="assets/Images/assets/cover.png" alt="Flower">
      </div>

      <div class="item">
        <img src="assets/Images/assets/cover.png" alt="Flower">
      </div>
  
    </div>

  
  </div>

  <p class="font_size">
    We've served and worked in different domains both within and outside of the liquor industry. Our team brings together their expertise to provide the most functional and cutting-edge technology to our business partners. Our solutions empower our partners to remain focused on what they do best and let us take care of keeping them ahead of the technology curve.
  </p>

  <p class="font_size">
    Our professional teams consist of both business and technology experts. We have been working closely over the years with business owners in various industries to understand their quest to serve their customers better, know more about their customers, and meet their growing demands and expectations.
  </p>

  <div class="information">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
    <h4 class="">information</h4>
    <address  class="font_family_Montserrat-SemiBold">
      <h5>{{storegetList.Address1}}</h5>
      <h5>loresipsmloresipsmloresipsm</h5>
      <h5>Get Direction</h5>
    </address>
    </div>

    <div  class="col-lg-3 col-md-3 col-sm-3 col-xs-6 item_img font_family_Montserrat-SemiBold">
     <h5>Pickup Hours</h5>
     <h5 *ngFor="let storegetpicktime of storegetpicktime">{{storegetpicktime.DayID}} {{storegetpicktime.StoreOpenTime}} - {{storegetpicktime.StoreCloseTime}}</h5>
      </div>

      <div  class="col-lg-3 col-md-3 col-sm-3 col-xs-6 item_img font_family_Montserrat-SemiBold">
          <h5>Delivery Hours</h5>
          <h5 *ngFor="let storegetdeliverytime of storegetdeliverytime">{{storegetdeliverytime.DayID}} {{storegetdeliverytime.StoreOpenTime}} - {{storegetdeliverytime.StoreCloseTime}}</h5>
    
        </div>
  </div>
</div>
 <section class="bgr_img">
    <div class="container">
   <div class="display_center font_family_Montserrat_Bold col-lg-12 col-lg-ofset-2 col-md-ofset-2 col-md-12 col-sm-12 col-xs-12">
      <h4>There Is an App for that</h4>
      <h2 class="download_app">Download our app from Appstore</h2>
      <a href="#"><img src="assets/Images/assets/ios.png"></a>
      <a href="#"><img src="assets/Images/assets/android.png"></a>

   </div>
  </div>


 </section>

