form .mandatory{
    color: #ec1c24;
}
 form .form-group .border_radius{
     border-radius: 0px !important;
 }
button.facebook{
    background-color: #4363a1;
    font-family: poppinsbold;
    font-size: 10.9px;
    line-height: 2.5;
    letter-spacing: 0.3px;
    text-align: left;
    color: #ffffff;
    padding: 3px 15px 3px 15px;
    border-radius: 0px;
    margin: 5px 0 20px 0;
}
button.facebook i{
    font-size: 13px;
    padding-right: 5px;
}
span.border{
    border-bottom: 1px solid #ec1c24;
    padding-bottom: 3px;
}
.form-group label{
 margin-bottom: 15px;
}
h4.font_size span,form .form-group label.email,form .form-group label.password{
    font-family: poppinsbold;
    font-size: 14.5px;
    line-height: normal;
    letter-spacing: 0.4px;
    text-align: left;
    color: #2b2b2b;
}
h4.font_size{
    padding: 20px 0 20px;   
}
h6.padding_top{
    font-family: poppinsregular;
    font-size: 12.7px;
    line-height: normal;
    letter-spacing: 0.3px;
    text-align: left;
    color: #666666;
    padding: 10px 0 10px;
}
h6.color_text{
    font-family: poppinsregular;
    font-size: 14.5px;
    line-height: normal;
    letter-spacing: 0.4px;
    text-align: left;
    padding-bottom: 15px;
    color: #666666;
}
h5.color{
    font-family: poppinsregular;
    font-size: 14.5px;
    font-stretch: normal;
    line-height: 1.88;
    letter-spacing: 0.4px;
    text-align: left;
    color: #ec1c24;
    cursor: pointer;
  }
  h5.color:focus{
      outline: none;
  }
  .checkbox label{
    font-family: poppinsregular;
    font-size: 14.5px;
    font-stretch: normal;
    line-height: 1.88;
    letter-spacing: 0.4px;
    text-align: left;
    color: #666666;
  }
  button.submit{
    background-color: #ec1c24;
    font-family: poppinsbold;
    font-size: 12.7px;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.3px;
    text-align: left;
    color: #ffffff;
    padding: 15px 20px 15px 20px;
    border-radius: 0px;
    width:128px;
    text-align: center;
    border: #ec1c24;
    box-shadow: none;
 
  }
  button.submit:focus{
      border:#ec1c24;
      outline: none;
  }
section.padding_top{
    padding-top: 15px;
}
