<section>
  <div class="container">
    <div class="row">
        <div class="Searchrelated_div col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h4>Recipes</h4>
        </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      
        <div class="recipes col-lg-3 col-md-3 col-sm-3 col-xs-6 item_img animated fadeInLeft" *ngFor= "let recipe of recipes">
            <div class="thumbnail" (click)="recipedetailclick(recipe.RecipeId)">
                    <a>
                      <img src='{{recipe.ThumbNailImage}}' />
                      <div class="caption">
                        <h6 class="text_center">{{recipe.Title}}</h6>
                        <!-- <p [innerHTML]=recipe.IngredientText></p> -->
                      </div>
                    </a>
                  </div>
             
            </div>
       
        
    </div>
    </div>
    </div>
    
</section>