.recipes img{
    height: 100px;
    margin: 0 auto;
    display: block;
    width: 100%;
}

.thumbnail{
    padding: 0;
    height: auto;
    min-height: 195px;
 
}
.thumbnail:hover{
    cursor: pointer;
}

.thumbnail .caption .text_center{
    font-family: montserratbold !important;
    font-size: 12px;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #262628;
}
.details_content h4{
    border-bottom: 1px solid #d7d7d7;
    }
.Searchrelated_div{
    margin: 15px 0px 40px 0;
    border-radius: 0px;
    /* padding-bottom: 10px; */
    overflow: hidden;   
}
.Searchrelated_div h4{
    width: 50%;
    height: 21px;
    padding-left: 12px;
    border: none;
    float: left;
    border-left: 5px solid #ec1c24;
    font-size: 15px;
    font-weight: bold;
    color: #333;
   
}
.thumbnail a{
    display: block;
    max-height: 180px;
    overflow: hidden;
}
.thumbnail a img{
    max-width: 352px;
    display: block;
    margin: auto;
    height: 140px;
    width: 100%;
}

.item_img:hover{
text-decoration: none;
}

@media screen and (min-width:320px) and (max-width:530px){
    .item_img{
        width: 100%;
    }
}