.second_content h4{
    font-family: montserratbold;
}

.seach input {
    width: 100%;
    margin-top: 5px;
    border-radius: 3px;
}

.Main_bottlesection img{
    width: 55px;
}

.red_color{
    color: #ff0000;
}

select.form-control {
    -moz-appearance: none;
     -webkit-appearance: none;
     appearance: none;
  }
.select_box{
    text-align: right;
}
.select_box select 
{
    padding: 5px 8px;
    border-radius: 3px;
    border-color: 1px solid #d7d7d7;
    color: #777;
    font-weight: bold;
}
.select_box select:focus{
    outline: none;
}
.select_box select:first-child{
    margin-right: 5px;
}


/* .second_content .rating_star i {
    color: #ec1c24;
}
.second_content .rating_star i.last{
    color: #ddd;
} */
.second_content .rating_star span.first{
    margin-left: 25px;
}

.margin_bottom_35 {
    margin-bottom: 35px;
}

footer {
    border-top: 2px solid #d8d5d5;
    padding: 30px 0px;
    margin-top: 25px !important;
}
footer ul {
    text-align: center;
}
footer h3{
    font-size: 15px;
    margin: 0;
    margin-bottom: 24px;
    color: #d7d7d7;
}
footer .footer_image img{
  width: auto;
}
.footer_image .font_weight {
    font-weight: bold;
    color: #333;
}
.footer_image address {
    font-size: 11px;
    font-weight: bold;
}
.footer_image address span  {
    margin-right: 20px;
}
.footer_image address span i.fa-map-marker{
font-size: 25px;
}

.footer_image address .margin_right {
    margin-left: 33px;
    font-size: 11px;
}
.footer_image .call  {
    margin-bottom: 20px;
}
.footer_image .call span i,.email i{
    margin-right: 14px;
    font-size: 20px;
}
.footer_image .call span, .footer_image .email span{
    font-size: 11px;
    font-weight: bold;
}

footer img.second_img {
    width:140px;
}
footer ul li {
    text-decoration: none;
    margin: 0 0 8px 0;
}
footer ul li a {
    font-size: 13px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
}
footer ul li a:hover{
   color: #ec1c24; 
}

.footer-bottom {
    background-color: #333;
    min-height: 30px;
    width: 100%;
}

ul.list-unstyled li{
    margin: 0;
}

.copyright {
    color: #fff;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
}
.list-unstyled.clear-margins{
    text-align: left;
}
.design {
    color: #fff;
    margin-top: 22px;
    padding: 7px 0;
    text-align: right;
}
.design a {
    color: #fff;
}
.design img.first_imge{
    width: auto;
    height: 23px;
}
.design img.second_image{
    height: 23px;
    width: 109px;
}

.footer-bottom {
    padding: 16px 0px;
}

.subscribe input{
    background-color: #ff0000;
    border: 1px solid #ff0000;
    color: #fff;
    height: 40px !important;
}
.subscribe input::placeholder{
    color: #fff;
}
.subscribe button{
    border-radius: 0px;
    border: 1px solid #333;
    background-color: #333;
    padding: 9px 11px;
    
}
.subscribe button i{
    color: #fff;
}
.newlatter {
    font-size: 12px;
    color: #989898;
    padding-top: 20px;
}
h3.Subscribe{
    color: #333 !important; 
}

.margin_left {
    margin: 40px 0 0 25px;
}
span.allrights {
    color: #757575;
    font-weight: bold;
}
span.made_with {
    font-weight: bold;
}
.footer-bottom span{
    display: block;
}

@media screen and (min-width:320px) and (max-width:767px){
    footer, footer ul,.list-unstyled.clear-margins,.cards,.text_center {
        text-align: center;
    }

    .margin_left{
        margin: 0;
    }
    .border{
        margin-top: 15px;
    }
    .border .name_date{
        font-size: 10px;
    }
    .border p.word_break{
        word-break: break-all;  
        font-size: 9px;
    }
    
}


@media screen and (min-width:768px) and (max-width:991px){

    .subscribe .form-control{
        width:74%;
    }
    .footer_image img{
      width:100% !important;
    }
    .margin_bottom img.second_img {    
        /* width: 25%; */
        width: 35;
        height: 110px;
        cursor: pointer;
    }
    .margin_bottom .firimg{
        /* width:20px;
        margin-right: 35px; */
        width: 25px;
        margin-right: 20px;
    }
    .margin_bottom .third_img{
        /* width:20px;
        margin-left: 35px; */
            width: 25px;
        margin-left: 20px;
    }
}

/* Image Hover */
.margin_bottom img {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

p{
    font-size: 12px;
}